<%- include("header") -%>

<h2>This is the about page</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pharetra quam in volutpat luctus. Suspendisse bibendum lacus id diam fringilla, ut cursus neque cursus. Aliquam ac bibendum tortor, id feugiat erat. Pellentesque sed maximus augue. Sed ut eros viverra, commodo diam id, eleifend ipsum. Aenean eu dapibus mi. Pellentesque commodo fringilla nibh sed condimentum. Donec laoreet sollicitudin nulla, id aliquet nulla ornare ut. Donec ac auctor risus. Sed condimentum non dolor nec rhoncus. Vivamus facilisis, nibh ac euismod cursus, dolor libero eleifend nibh, at aliquam erat enim porta metus. Praesent ultricies dapibus mauris, a maximus turpis aliquet id. Praesent urna nunc, blandit vitae magna non, facilisis dignissim justo. Donec commodo, sem a maximus bibendum, quam sem porttitor enim, eu viverra mi tortor id lectus.

</p>

<%- include("footer") -%>
